*{
  margin: 0px;
  padding: 0%;
}

h1{
  text-align: center;
  margin: 50px 0px;
  text-transform: capitalize;
}
.parent{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

}
.daughter{
  width: 50%;
  padding:  0px;
  text-align: center;
}
.daughter img{
  width: 450px;
}
.daughter a{
  text-align: center;
}

.son{
  width: 50%;
  padding: 0 5%;
  text-align: justify;
  box-sizing: border-box;
  line-height: 1.7;
}

/* Mobile phone limits */
@media (max-width: 768px){
  h1{
    color: yellow;
  }
  .parent{
    display: block;
  }
  .daughter{
    width: 100%;
  }
  .son{
    width: 100%;
  }
  .daughter img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px){
  .daughter img{
    padding: 10%;
    box-sizing: border-box;
  }
}


/* Laptops and Desktops */
@media (min-width: 1024px){
  p{
    color: tomato;
  }
}
@media (min-width: 769px) and (max-width: 1023px){
  h1{
    text-transform: uppercase;
  }
  p{
    color: teal;
  }

}